{% extends 'masjed_base.html' %}
{% block title %}
     محتواهای دسته‌بندی در شب های مختلف {{ category.name }} در سال {{ year }}
{% endblock %}
{% block body-class %}
    categori-body
{% endblock %}
{% block content %}

    <!-- Header -->
    <div class="header-categori-page">
        <img src="{{ category.image.url }}" alt="محتواهای دسته‌بندی در شب های مختلف {{ category.name }} در سال {{ year }} " style="object-fit: contain;width: 100%;
    height: 200px">
    </div>

    <!-- Title -->
    <div class="section-title my-5">
        <h3 class="text-black text-center"> محتواهای دسته‌بندی {{ category.name }} در سال {{ occasion.year }} </h3>
    </div>

    <!-- Cards Section -->
    <div class="container my-5">
    <div class="row g-4">
        {% for night in nights %}
            <div class="col-lg-3 col-md-4 col-sm-6 mb-2">
                <div class="card bg-dark text-white shadow rounded overflow-hidden h-100">
                    <div class="position-relative">
                        <img src="{{ night.image.url }}" class="card-img-top img-fluid" alt="{{ night.name }}">
                        <span class="badge rounded-pill bg-warning text-dark fw-bold fs-6 position-absolute top-0 start-0 m-2 px-3 py-2">
                            {{ night.slug }}
                        </span>
                    </div>
                    <div class="card-body text-center">
                        <a href= "{% url 'website:media_list' category_slug=category.slug year=occasion.year occasion_slug=occasion.slug night_slug=night.slug %}" class="btn btn-outline-light rounded-pill text-decoration-nonebtn" >
                            مشاهده
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>




{% endblock %}
