{% extends 'profile_base.html' %}
{% block profile %}
    <div class="container-fluid ">
        <div class="row ">
            <div class="col-12">

                <!-- Personal Information -->
                <div class="card mt-5">
                    <div class="card-header">
                        <h4><i class="fa-solid fa-ticket ms-2"></i>لیست رزروها</h4>
                    </div>
                    <div class="card-body">
                        <div class="row align-items-center justify-content-start">
                            <div class="col-xl-12 col-lg-12 col-md-12 mb-4">
                                <ul class="row align-items-center justify-content-between p-0 gx-3 gy-2">
                                    <li class="col-md-3 col-6">
                                        <input type="checkbox" class="btn-check" id="allbkk" checked="">
                                        <label class="btn btn-sm btn-secondary rounded-1 fw-medium px-4 full-width "
                                               for="allbkk">به ترتیب اخرین مراسم </label>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="row align-items-center justify-content-start">
                            <div class="col-xl-12 col-lg-12 col-md-12">
                                <!-- Single Item -->
                                <div class="card border br-dashed mb-4">
                                    <!-- Card header -->
                                    <div class="card-header nds-block border-bottom flex-column flex-md-row justify-content-between align-items-center">
                                        <!-- Icon and Title -->
                                        <div class="d-flex align-items-center">
                                            <div class="square--50 circle bg-light-info text-info flex-shrink-0"><i
                                                    class="fa-solid fa-hotel"></i></div>
                                            <!-- Title -->
                                            <div class="me-2">
                                                <h6 class="card-title text-dark
														mb-1"> <span class="text-primary">رزرو توسط:</span> محمد حسین سلمان </h6>
                                                <ul class="nav nav-divider small">
                                                    <li class="nav-item text-muted"></li>
                                                    <li class="nav-item me-2"><span
                                                            class="text-dark fw-medium"></span></li>
                                                </ul>
                                            </div>
                                        </div>

                                        <!-- Button -->
                                        <div class="mt-2 mt-md-0">
                                            <a href="my-booking.html#"
                                               class="btn btn-md btn-light-seegreen fw-medium mb-0">مشاهده جزئیات</a>
                                        </div>
                                    </div>

                                    <!-- Card body -->
                                    <div class="card-body">
                                        <div class="row g-3">
                                            <div class="col-sm-6 col-md-4">
                                                <span>تاریخ </span>
                                                <h6 class="mb-0">سه شنبه 10 مهر </h6>
                                            </div>

                                            <div class="col-sm-6 col-md-4">
                                                <span>ساعت شروع</span>
                                                <h6 class="mb-0"> 18:00</h6>
                                            </div>
                                            <div class="col-sm-6 col-md-4">
                                                <span>ساعت پایان</span>
                                                <h6 class="mb-0"> 18:00</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-12 col-lg-12 col-md-12">
                                <!-- Single Item -->
                                <div class="card border br-dashed mb-4">
                                    <!-- Card header -->
                                    <div class="card-header nds-block border-bottom flex-column flex-md-row justify-content-between align-items-center">
                                        <!-- Icon and Title -->
                                        <div class="d-flex align-items-center">
                                            <div class="square--50 circle bg-light-info text-info flex-shrink-0"><i
                                                    class="fa-solid fa-hotel"></i></div>
                                            <!-- Title -->
                                            <div class="me-2">
                                                <h6 class="card-title text-dark
														mb-1"> <span class="text-primary">رزرو توسط:</span> محمد حسین سلمان </h6>
                                                <ul class="nav nav-divider small">
                                                    <li class="nav-item text-muted"></li>
                                                    <li class="nav-item me-2"><span
                                                            class="text-dark fw-medium"></span></li>
                                                </ul>
                                            </div>
                                        </div>

                                        <!-- Button -->
                                        <div class="mt-2 mt-md-0">
                                            <a href="my-booking.html#"
                                               class="btn btn-md btn-light-seegreen fw-medium mb-0">مشاهده جزئیات</a>
                                        </div>
                                    </div>

                                    <!-- Card body -->
                                    <div class="card-body">
                                        <div class="row g-3">
                                            <div class="col-sm-6 col-md-4">
                                                <span>تاریخ </span>
                                                <h6 class="mb-0">سه شنبه 10 مهر </h6>
                                            </div>

                                            <div class="col-sm-6 col-md-4">
                                                <span>ساعت شروع</span>
                                                <h6 class="mb-0"> 18:00</h6>
                                            </div>
                                            <div class="col-sm-6 col-md-4">
                                                <span>ساعت پایان</span>
                                                <h6 class="mb-0"> 18:00</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-12 col-lg-12 col-md-12">
                                <!-- Single Item -->
                                <div class="card border br-dashed mb-4">
                                    <!-- Card header -->
                                    <div class="card-header nds-block border-bottom flex-column flex-md-row justify-content-between align-items-center">
                                        <!-- Icon and Title -->
                                        <div class="d-flex align-items-center">
                                            <div class="square--50 circle bg-light-info text-info flex-shrink-0"><i
                                                    class="fa-solid fa-hotel"></i></div>
                                            <!-- Title -->
                                            <div class="me-2">
                                                <h6 class="card-title text-dark
														mb-1"> <span class="text-primary">رزرو توسط:</span> محمد حسین سلمان </h6>
                                                <ul class="nav nav-divider small">
                                                    <li class="nav-item text-muted"></li>
                                                    <li class="nav-item me-2"><span
                                                            class="text-dark fw-medium"></span></li>
                                                </ul>
                                            </div>
                                        </div>

                                        <!-- Button -->
                                        <div class="mt-2 mt-md-0">
                                            <a href="my-booking.html#"
                                               class="btn btn-md btn-light-seegreen fw-medium mb-0">مشاهده جزئیات</a>
                                        </div>
                                    </div>

                                    <!-- Card body -->
                                    <div class="card-body">
                                        <div class="row g-3">
                                            <div class="col-sm-6 col-md-4">
                                                <span>تاریخ </span>
                                                <h6 class="mb-0">سه شنبه 10 مهر </h6>
                                            </div>

                                            <div class="col-sm-6 col-md-4">
                                                <span>ساعت شروع</span>
                                                <h6 class="mb-0"> 18:00</h6>
                                            </div>
                                            <div class="col-sm-6 col-md-4">
                                                <span>ساعت پایان</span>
                                                <h6 class="mb-0"> 18:00</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>
            </div>

        </div>
    </div>

{% endblock %}
