annotated-types==0.7.0
asgiref==3.8.1
beautifulsoup4==4.12.3
certifi==2024.7.4
charset-normalizer==3.3.2
crispy-bootstrap4==2024.1
Django==4.2
django-autoslug==1.9.9
django-bootstrap4==24.3
django-crispy-forms==2.3
django-formset==1.5
django-jalali==7.0.0
django-jalali-date==2.0.0
django-jquery==3.1.0
django-nested-admin==4.1.1
django-robots==6.1
gunicorn==23.0.0
idna==3.7
jalali_core==1.0.0
jdatetime==5.0.0
lxml==6.0.0
mysqlclient==2.2.7
packaging==25.0
pillow==10.4.0
pydantic==2.8.2
pydantic_core==2.20.1
python-monkey-business==1.1.0
requests==2.32.3
robots==0.1.5
soupsieve==2.6
sqlparse==0.5.0
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
